@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
    font-size: 22px; 
    font-size: 'Roboto';
    margin: 0;
    padding: 0;
}

header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #e63946;
}

.book, .join {
    background-color: #fcfbfb;
    color: red;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #fcfbfb ;
    color : red;
}

#background {
    background-color: #fcfbfb;
}
.msg{
    background-color: #fcfbfb;
    font-family: 'Roboto', normal;
    padding: 35px;
    background-color: rgba(20,30,13, .7);
}

footer{
    background-color: rgba(20,30,13, .7);
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color : #1d3557;
    font-family: 'Roboto', normal;
    font-size: 2em;
    margin-top: 10px; 
}

h4{
    color: black;
}

.msg h2{
    color:#e63946;
}

.msg p{
    color:#1d3557;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
    
}
footer h3{
    color:#1d3557;
}
footer a{
    color:#e63946;
    text-decoration: none;
}
footer a:hover{
    color: #1d3557;
}

footer .social img {
    padding-top: 15px;
}

#hero-img{
    width: 100%;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo{
    width: 80px;
}

footer h3 a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Roboto', normal;
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}